<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <title>Filmi</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
      <h1>FILMI</h1>
      <div>
        <a href="/stran/1/" class="btn-light">Popularno</a>
        <a href="#" class="disabled btn-light">Filmi</a>
        <a href="#" class="disabled btn-light">Tv Oddaje</a>
        <a href="/moji-filmi/" class="btn-light">Moji Filmi</a>
      </div>
    </section>
    <footer>
      <h4>Avtor: Aljaž Kosirnik</h4>
      <div class="avtor">
        <a class="icons" href="https://github.com/aljazkosirnik"
          ><i class="fab fa-github"></i
        ></a>
        <a class="icons" href="https://www.linkedin.com/in/aljaz-kosirnik/"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a class="icons" href="mailto:hello@aljazkosirnik.si"
          ><i class="fas fa-envelope"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
