.single {
  #single-show {
    padding-top: 25%;
    height: auto;

    @include smartphone {
      padding: 1rem;
    }
  }

  &-text {
    .overview {
      width: 100%;
    }

    &-box {
      width: 100%;
    }

    &-seasons {
      padding: 22% 6rem 2rem 2rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;

      @include smartphone {
        padding: 2rem 0;
        display: initial;
      }

      &-card {
        background: $navigation-color;
        border-radius: 5px;
        transition: all 0.5s;

        @include smartphone {
          margin: 1rem;
        }

        &:hover {
          background: #1a2733;
        }

        h3 {
          margin: 0.5rem 0;
        }

        img {
          margin-top: 1rem;
          width: 80%;
        }

        @include tablet {
          font-size: 0.8rem;
        }
      }
    }

    &-video {
      width: 84vw;

      @include tablet {
        height: 30%;
      }
    }
  }
}
