$navigation-color: #131c25;
$main-color: #0c171e;
$main-text: #10bde3;

// Smartphone
$screen-sm-max: 500px;

// Tablet
$screen-md-min: 501px;
$screen-md-max: 768px;

// Normal
$screen-lg-min: 769px;
$screen-lg-max: 1200px;

// Widescreen
$screen-xl-min: 1201px;
$screen-xl-max: 2000px;

// 4k
$screen-4k-min: 2001px;

// Smartphones mixin
@mixin smartphone {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Tablets mixin
@mixin tablet {
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Normal mixin
@mixin normal {
  @media (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// Widescreens mixin
@mixin widescreen {
  @media (min-width: #{$screen-xl-min}) and (max-width: #{$screen-xl-max}) {
    @content;
  }
}

// 4k mixin
@mixin four-k {
  @media (min-width: #{$screen-4k-min}) {
    @content;
  }
}

.btn-light {
  background: $main-text;
  color: $main-color;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  border: none;
  transition: all 0.5s;
  -webkit-appearance: none;

  @include tablet {
    padding: 0.2rem 0.7rem;
    font-size: 0.7rem;
  }

  &:hover {
    cursor: pointer;
    background: #38daff;
  }
}

.btn-dark {
  background: $navigation-color;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  border: none;
  transition: all 0.5s;
  font-size: 1.4rem;
  -webkit-appearance: none;

  @include tablet {
    font-size: 1rem;
  }

  @include smartphone() {
    font-size: 1rem;
  }

  &:hover {
    cursor: pointer;
    background: #1a2733;
  }
}

textarea,
input,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="radio"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

.prev-next-buttons-column {
  margin: 4rem 0 3rem 13%;
  text-align: center;
  width: 70%;

  input {
    margin-left: 1rem;
    margin-right: 1rem;

    @include smartphone {
      margin: 0 1rem;
    }
  }

  @include smartphone {
    background: $main-color;
    display: inline-flex;
    margin: auto;
    padding: 1rem;
    width: 100%;
    z-index: 3;
    justify-content: space-around;
  }
}

@include smartphone {
  #paging {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.main-text {
  color: $main-text;
}

.show {
  display: flex !important;
  align-content: space-around;
  flex-direction: column;
}
