.btn-light {
  background: #10bde3;
  color: #0c171e;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-appearance: none;
}

@media (min-width: 501px) and (max-width: 768px) {
  .btn-light {
    padding: 0.2rem 0.7rem;
    font-size: 0.7rem;
  }
}

.btn-light:hover {
  cursor: pointer;
  background: #38daff;
}

.btn-dark {
  background: #131c25;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 1.4rem;
  -webkit-appearance: none;
}

@media (min-width: 501px) and (max-width: 768px) {
  .btn-dark {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn-dark {
    font-size: 1rem;
  }
}

.btn-dark:hover {
  cursor: pointer;
  background: #1a2733;
}

textarea,
input,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="radio"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

.prev-next-buttons-column {
  margin: 4rem 0 3rem 13%;
  text-align: center;
  width: 70%;
}

.prev-next-buttons-column input {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 500px) {
  .prev-next-buttons-column input {
    margin: 0 1rem;
  }
}

@media (max-width: 500px) {
  .prev-next-buttons-column {
    background: #0c171e;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: auto;
    padding: 1rem;
    width: 100%;
    z-index: 3;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 500px) {
  #paging {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.main-text {
  color: #10bde3;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation {
  background-color: #131c25;
  color: #fff;
  z-index: 5;
  padding: 1rem;
}

@media (max-width: 500px) {
  .navigation {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    left: 0;
    padding: 0.5rem;
  }
}

.navigation .menu {
  display: none;
  height: 100%;
}

.navigation img {
  padding: 1rem 0 0 1rem;
  width: 70%;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .navigation img {
    width: 80%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .navigation img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .navigation img {
    width: 30%;
    padding: 0 0 0 1rem;
  }
}

.navigation #avtor {
  color: #fff;
  line-height: 1rem;
  padding: 0 0 0 1rem;
}

@media (min-width: 2001px) {
  .navigation #avtor {
    font-size: 0.7rem;
  }
}

@media (min-width: 1201px) and (max-width: 2000px) {
  .navigation #avtor {
    font-size: 0.7rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .navigation #avtor {
    font-size: 0.6rem;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .navigation #avtor {
    font-size: 0.75rem;
  }
}

@media (max-width: 500px) {
  .navigation #avtor {
    font-size: 0.6rem;
  }
}

.navigation .menu-icon {
  display: none;
}

@media (max-width: 500px) {
  .navigation .menu-icon {
    color: #10bde3;
    position: absolute;
    top: 0;
    left: 85%;
    padding: 1.3rem 2rem 0 0;
    font-size: 1.2rem;
  }
}

.navigation h5 {
  text-transform: capitalize;
  padding-bottom: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 2001px) {
  .navigation h5 {
    font-size: 0.8rem;
  }
}

@media (min-width: 1201px) and (max-width: 2000px) {
  .navigation h5 {
    font-size: 0.7rem;
    padding-bottom: 0.8rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .navigation h5 {
    font-size: 0.7rem;
    padding-bottom: 0.7rem;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .navigation h5 {
    font-size: 0.8rem;
    padding-bottom: 0.7rem;
  }
}

.navigation a {
  font-size: 0.9rem;
  text-decoration: none;
  display: block;
  line-height: 1.7rem;
}

@media (min-width: 2001px) {
  .navigation a {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1201px) and (max-width: 2000px) {
  .navigation a {
    font-size: 0.7rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .navigation a {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .navigation a {
    font-size: 0.6rem;
    line-height: 1.2rem;
  }
}

@media (max-width: 500px) {
  .navigation a {
    font-size: 0.6rem;
    line-height: 1.4rem;
  }
}

.navigation .brskaj {
  padding: 2rem 1rem 0;
  height: 20%;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .navigation .brskaj {
    padding: 3rem 1rem 0;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .navigation .brskaj {
    padding: 3rem 1rem 0;
  }
}

@media (max-width: 500px) {
  .navigation .brskaj {
    padding: 1rem 1rem 0;
  }
}

.navigation .brskaj .menu-items {
  font-size: 1rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 2001px) {
  .navigation .brskaj .menu-items {
    font-size: 0.8rem;
  }
}

@media (min-width: 1201px) and (max-width: 2000px) {
  .navigation .brskaj .menu-items {
    font-size: 0.7rem;
    line-height: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .navigation .brskaj .menu-items {
    font-size: 0.58rem;
    line-height: 1.6rem;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .navigation .brskaj .menu-items {
    font-size: 0.58rem;
    line-height: 1.7rem;
  }
}

@media (max-width: 500px) {
  .navigation .brskaj .menu-items {
    font-size: 0.7rem;
    line-height: 1.7rem;
  }
}

.navigation .brskaj .menu-items:hover {
  border-right: #10bde3 3px solid;
  color: #10bde3;
}

.navigation .kategorije {
  padding: 1rem 1rem;
  height: 65%;
}

.navigation .kategorije .category-items {
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
}

.navigation .kategorije .category-items:hover {
  color: rgba(255, 255, 255, 0.5);
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.tabs {
  display: block;
  display: -moz-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  color: #efedef;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1rem;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 1201px) and (max-width: 2000px) {
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    font-size: 0.8rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
}

@media (max-width: 500px) {
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #10bde3;
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #10bde3;
}

.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}

.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 1rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs .tab-2 {
  width: 50%;
}

.tabs .tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%;
}

.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}

.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}

.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%;
}

.right-side {
  height: 100%;
  background-color: #0c171e;
}

.trending {
  margin: 4rem 2rem;
}

@media (max-width: 500px) {
  .trending {
    display: none;
  }
}

.trending h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .trending h3 {
    margin: 1rem auto;
    text-align: center;
  }
}

.trending .carousel {
  background: #131c25;
  width: 95%;
  border-radius: 5px;
}

.trending .carousel .flickity-button {
  background: #0c171e;
}

.trending .carousel .flickity-button-icon {
  fill: #10bde3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.trending .carousel .flickity-button-icon:hover {
  width: 70%;
  height: 70%;
}

.trending .carousel .flickity-prev-next-button.previous {
  left: -4%;
}

.trending .carousel .flickity-prev-next-button.next {
  right: -4%;
}

.trending .carousel .dot.is-selected {
  background: #10bde3;
}

.trending .carousel-cell {
  width: 20%;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.trending .carousel-cell-img {
  width: 100%;
}

.trending .carousel-cell-img img {
  width: 100%;
}

.trending .carousel-cell:not(.is-selected) {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.single-img {
  position: absolute;
  top: 0;
  left: 15%;
  z-index: 1;
  -webkit-filter: brightness(0.6) grayscale(0.6);
          filter: brightness(0.6) grayscale(0.6);
}

@media (max-width: 500px) {
  .single-img {
    position: initial;
    -webkit-filter: none;
            filter: none;
  }
}

.single-img img {
  width: 100%;
}

.single-text {
  height: 100%;
  padding: 17% 6rem 1rem 2rem;
  text-shadow: #000 1px 1px;
  z-index: 2;
  position: relative;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .single-text {
    padding: 10% 6rem 1rem 2rem;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .single-text {
    padding: 14% 2rem 0 2rem;
  }
  .single-text :nth-child(5) {
    display: none;
  }
}

@media (max-width: 500px) {
  .single-text {
    padding: 0;
  }
}

.single-text .title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 2rem;
  text-transform: uppercase;
  border-bottom: 4px solid #10bde3;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 501px) and (max-width: 768px) {
  .single-text .title {
    font-size: 1rem;
    border-bottom: 2px solid #10bde3;
  }
}

@media (max-width: 500px) {
  .single-text .title {
    font-size: 1rem;
    border-bottom: 2px solid #10bde3;
    width: 100%;
    text-align: center;
  }
}

.single-text .tagline {
  margin-bottom: 2rem;
}

@media (min-width: 501px) and (max-width: 768px) {
  .single-text .tagline {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .single-text .tagline {
    font-size: 1rem;
  }
}

.single-text .overview {
  width: 80%;
}

@media (min-width: 501px) and (max-width: 768px) {
  .single-text .overview {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .single-text .overview {
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }
}

.single-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  padding: 0.5rem 3rem;
  background: rgba(0, 0, 0, 0.4);
  margin: 2rem 0;
}

@media (min-width: 501px) and (max-width: 768px) {
  .single-text-box {
    margin: 1rem 0;
    padding: 0.3rem 3rem;
  }
  .single-text-box h3 {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .single-text-box {
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .single-text-box h3 {
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
  }
  .single-text-box h4 {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

.single-text-box .header {
  border-bottom: 2px solid #fff;
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .single-text-box .header {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem 0;
  }
}

.single-text a {
  text-decoration: none;
  color: #fff;
}

.single-text a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.single-text-video {
  position: absolute;
  z-index: 2;
  left: 15%;
  height: 100%;
  width: 85%;
  background: #0c171e;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .single-text-video {
    position: relative;
    left: -1%;
    top: 0px !important;
    width: 100% !important;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .single-text-video {
    position: relative;
    left: -1%;
    top: 0px !important;
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .single-text-video {
    position: initial;
    width: 100% !important;
    margin-top: 1.5rem;
  }
}

.single-text-video iframe {
  border: 2px solid #0c171e;
}

.single #single-show {
  padding-top: 25%;
  height: auto;
}

@media (max-width: 500px) {
  .single #single-show {
    padding: 1rem;
  }
}

.single-text .overview {
  width: 100%;
}

.single-text-box {
  width: 100%;
}

.single-text-seasons {
  padding: 22% 6rem 2rem 2rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

@media (max-width: 500px) {
  .single-text-seasons {
    padding: 2rem 0;
    display: initial;
  }
}

.single-text-seasons-card {
  background: #131c25;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 500px) {
  .single-text-seasons-card {
    margin: 1rem;
  }
}

.single-text-seasons-card:hover {
  background: #1a2733;
}

.single-text-seasons-card h3 {
  margin: 0.5rem 0;
}

.single-text-seasons-card img {
  margin-top: 1rem;
  width: 80%;
}

@media (min-width: 501px) and (max-width: 768px) {
  .single-text-seasons-card {
    font-size: 0.8rem;
  }
}

.single-text-video {
  width: 84vw;
}

@media (min-width: 501px) and (max-width: 768px) {
  .single-text-video {
    height: 30%;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
      grid-template-areas: "navigation rightside" "    .      footer";
}

@media (min-width: 501px) and (max-width: 768px) {
  .container {
    -ms-grid-columns: 20% 80%;
        grid-template-columns: 20% 80%;
  }
}

@media (max-width: 500px) {
  .container {
    display: block;
  }
}

.navigation {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navigation;
  position: fixed;
  height: 100vh;
  width: 15%;
}

@media (min-width: 501px) and (max-width: 768px) {
  .navigation {
    width: 20%;
  }
}

@media (max-width: 500px) {
  .navigation {
    width: auto;
    height: 100%;
  }
}

.right-side {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: rightside;
  padding-left: 2%;
}

@media (max-width: 500px) {
  .right-side {
    padding: 1rem;
  }
}

.footer {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: footer;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 2001px) {
  * {
    font-size: 32px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

/******************* Domov - root page ******************************************************************************************************************/
#home-header {
  width: 100%;
  height: 10vh;
  background-color: #131c25;
  color: #fff;
}

#home-header img {
  display: block;
  margin: auto;
  padding: 0.5rem;
}

#home-movies {
  height: 35vh;
  padding: auto;
  margin: auto;
}

#home-movies .home-image {
  background: url("/img/movies.jpg") no-repeat center;
  background-size: 100% auto;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

@media (min-width: 769px) and (max-width: 1200px) {
  #home-movies .home-image {
    background-size: auto;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  #home-movies .home-image {
    background-size: auto;
  }
}

@media (max-width: 500px) {
  #home-movies .home-image {
    background-size: auto;
  }
}

#home-movies:hover .home-image {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

#home-tv-shows {
  height: 35vh;
}

#home-tv-shows .home-image {
  background: url("/img/tv-shows.jpg") no-repeat center;
  background-size: 100% auto;
}

@media (min-width: 769px) and (max-width: 1200px) {
  #home-tv-shows .home-image {
    background-size: auto;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  #home-tv-shows .home-image {
    background-size: auto;
  }
}

@media (max-width: 500px) {
  #home-tv-shows .home-image {
    background-size: auto;
    background: url("/img/tv-shows-2.jpg") no-repeat 56% 40%;
  }
}

#home-tv-shows:hover .home-image {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

#home-my-favorites {
  height: 35vh;
}

#home-my-favorites .home-image {
  background: url("/img/my-favorites.jpg") no-repeat center;
  background-size: 100% auto;
}

@media (min-width: 769px) and (max-width: 1200px) {
  #home-my-favorites .home-image {
    background-size: auto;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  #home-my-favorites .home-image {
    background-size: auto;
  }
}

@media (max-width: 500px) {
  #home-my-favorites .home-image {
    background-size: auto;
  }
}

#home-my-favorites:hover .home-image {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.home-text {
  line-height: 0;
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
  text-transform: uppercase;
  z-index: 1;
  font-size: 2.3rem;
  text-shadow: black 2px 2px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .home-text {
    font-size: 1.5rem;
  }
}

.home-image {
  height: 35vh;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
  cursor: pointer;
}

/******************* Filmi - page of movies **************************************************************************************************************/
#movies {
  margin-top: 5rem;
  margin-left: 2%;
}

@media (max-width: 500px) {
  #movies {
    margin: auto;
  }
}

#movies h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  #movies h3 {
    text-align: center;
  }
}

#movies .column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2rem;
}

@media (min-width: 501px) and (max-width: 768px) {
  #movies .column {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  #movies .column {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#movies .column:hover {
  cursor: default;
}

#movies .column .card {
  width: 70%;
  position: relative;
  height: 100%;
  background: #131c25;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 500px) {
  #movies .column .card {
    width: 100%;
  }
}

#movies .column .card:hover {
  background: #1a2733;
}

#movies .column .card img {
  width: 100%;
  border-radius: 5px;
}

#movies .column .card h5 {
  font-size: 1rem;
  text-transform: none;
  margin-bottom: 0.7rem;
  text-align: center;
}

#movies .column .card .vote-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 769px) and (max-width: 1200px) {
  #movies .column .card .vote-date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  #movies .column .card .vote-date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

#movies .column .card .vote-date h6 {
  font-size: 0.7rem;
}

@media (min-width: 769px) and (max-width: 1200px) {
  #movies .column .card .vote-date h6 {
    padding-bottom: 0.4rem;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  #movies .column .card .vote-date h6 {
    padding-bottom: 0.4rem;
  }
}

#movies .column .card .text-button {
  bottom: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0.5rem;
  width: 92%;
}

@media (min-width: 769px) and (max-width: 1200px) {
  #movies .column .card .text-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  #movies .column .card .text-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

#movies .column .card .text-button button {
  margin: auto 0.5rem;
}
/*# sourceMappingURL=style.css.map */