<div class="navigation">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" />
  <a id="avtor" href="https://aljazkosirnik.si/" target="_blank"
    >Avtor: Aljaž Kosirnik</a
  >
  <div class="brskaj">
    <h5>Brskaj:</h5>
    <a href="/filmi/1" class="menu-items">Popularni Filmi</a>
    <a href="/oddaje/1" class="menu-items">Popularne Oddaje</a>
    <a href="/priljubljeno" class="menu-items">Priljubljeno</a>
  </div>
  <div class="kategorije">
    <div class="tabs">
      <div class="tab-2">
        <label for="tab2-1">Filmi</label>
        <input id="tab2-1" name="tabs-two" type="radio" checked="checked" />
        <div>
          <a href="/kategorija/filmi/28/stran/1/" class="category-items"
            >Akcijski Filmi</a
          >
          <a href="/kategorija/filmi/16/stran/1/" class="category-items"
            >Animirani Filmi</a
          >
          <a href="/kategorija/filmi/99/stran/1/" class="category-items"
            >Dokumentarni Filmi</a
          >
          <a href="/kategorija/filmi/18/stran/1/" class="category-items"
            >Drame</a
          >
          <a href="/kategorija/filmi/10751/stran/1/" class="category-items"
            >Družinski Filmi</a
          >
          <a href="/kategorija/filmi/14/stran/1/" class="category-items"
            >Fantazijski Filmi</a
          >
          <a href="/kategorija/filmi/10402/stran/1/" class="category-items"
            >Glasbeni Filmi</a
          >
          <a href="/kategorija/filmi/27/stran/1/" class="category-items"
            >Grozljivke</a
          >
          <a href="/kategorija/filmi/35/stran/1/" class="category-items"
            >Komedije</a
          >
          <a href="/kategorija/filmi/80/stran/1/" class="category-items"
            >Kriminalke</a
          >
          <a href="/kategorija/filmi/12/stran/1/" class="category-items"
            >Pustolovski Filmi</a
          >
          <a href="/kategorija/filmi/10749/stran/1/" class="category-items"
            >Romantični Filmi</a
          >
          <a href="/kategorija/filmi/878/stran/1/" class="category-items"
            >Sci-Fi Filmi</a
          >
          <a href="/kategorija/filmi/9648/stran/1/" class="category-items"
            >Skrivnostni Filmi</a
          >
          <a href="/kategorija/filmi/53/stran/1/" class="category-items"
            >Triler Filmi</a
          >
          <a href="/kategorija/filmi/10752/stran/1/" class="category-items"
            >Vojni Filmi</a
          >
          <a href="/kategorija/filmi/36/stran/1/" class="category-items"
            >Zgodovinski Filmi</a
          >
          <a href="/kategorija/filmi/37/stran/1/" class="category-items"
            >Zahodni Filmi</a
          >
        </div>
      </div>
      <div class="tab-2">
        <label for="tab2-2">Oddaje</label>
        <input id="tab2-2" name="tabs-two" type="radio" />
        <div>
          <a href="/kategorija/oddaje/10759/stran/1/" class="category-items"
            >Akcijske in Pustolovske Oddaje</a
          >
          <a href="/kategorija/oddaje/16/stran/1/" class="category-items"
            >Animirane Oddaje</a
          >
          <a href="/kategorija/oddaje/99/stran/1/" class="category-items"
            >Dokumentarne Oddaje</a
          >
          <a href="/kategorija/oddaje/18/stran/1/" class="category-items"
            >Drame</a
          >
          <a href="/kategorija/oddaje/10751/stran/1/" class="category-items"
            >Družinske Oddaje</a
          >
          <a href="/kategorija/oddaje/35/stran/1/" class="category-items"
            >Komedije</a
          >
          <a href="/kategorija/oddaje/80/stran/1/" class="category-items"
            >Kriminalke</a
          >
          <a href="/kategorija/oddaje/10762/stran/1/" class="category-items"
            >Otroške Oddaje</a
          >
          <a href="/kategorija/oddaje/10767/stran/1/" class="category-items"
            >Pogovorne Oddaje</a
          >
          <a href="/kategorija/oddaje/10764/stran/1/" class="category-items"
            >Resničnostni Šovi</a
          >
          <a href="/kategorija/oddaje/9648/stran/1/" class="category-items"
            >Skrivnostne Oddaje</a
          >
          <a href="/kategorija/oddaje/10765/stran/1/" class="category-items"
            >Sci-Fi Oddaje</a
          >
          <a href="/kategorija/oddaje/10768/stran/1/" class="category-items"
            >Vojne in Politične Oddaje</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
