* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

/* Splošno */
.btn-light {
  color: white;
  background-color: #3fbac2;
  border-color: #3fbac2;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 1s;
}

.btn-light:hover {
  color: white;
  background-color: #30878d;
  border-color: #3fbac2;
}

.btn-dark {
  display: inline-block;
  margin: auto 15px;
  background-color: #4d606e;
  border-color: #4d606e;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 1s;
}

.btn-dark:hover {
  color: white;
  background-color: rgb(60, 75, 83);
}

.disabled:hover {
  cursor: not-allowed;
}

/* Navigation */
header {
  display: flex;
  background-color: #fff;
  justify-content: center;
}

.nav {
  margin: 0.7rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.nav h1 {
  font-size: 2rem;
  font-weight: 500;
}

.nav ul {
  display: flex;
  list-style: none;
}

/* Content */
.content {
  margin-top: 10px;
}

.display {
  display: flex;
  position: relative;
  width: 70%;
  margin: auto;
  align-items: flex-start;
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5));
}

.display img {
  width: 100%;
  z-index: -1;
}

.display .display-text {
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
}

.display .display-text h1 {
  text-align: center;
  font-size: 3.5rem;
}

.display .display-text h3 {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.movie {
  background-color: #4d606e;
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.movie .movie-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.movie img {
  margin-top: 1rem;
  border-radius: 5px;
  height: 370px;
  width: 260px;
}

.movie .movie-text {
  margin: 2rem 0.1rem 0 0.7rem;
  display: flex;
  flex-direction: column;
}

.movie * {
  font-weight: 500;
  color: #fff;
}

.movie .movie-text h2 {
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.movie .movie-text p {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.movie .movie-text .ocena {
  color: #fff;
  background-color: #d3d4d8;
  border-radius: 10px;
  padding: 0.1rem 0.3rem;
}

.movie .movie-text h5 {
  margin-bottom: 1rem;
}

.movie .movie-text h4 {
  margin-bottom: 1.5rem;
}

.movie .movie-text .movie-zvrsti {
  width: 90%;
  margin-bottom: 1rem;
}

.movie .movie-text .movie-zvrsti h3 {
  padding: 0.5rem;
  display: inline;
  text-align: center;
  border-bottom: 1px solid #d3d4d8;
  margin: auto 1rem;
}

.movie .movie-production {
  background-color: #5d7485;
  width: 100%;
}

.movie .movie-production h1 {
  margin-top: 3rem;
  text-align: center;
}

.movie .movie-production .production-companies {
  margin: 2rem auto;
  text-align: center;
  width: 70%;
}

.movie .movie-production h3 {
  display: inline;
  margin: 1.5rem;
}

.movie .video {
  width: 100%;
  height: 70vh;
}

/* Footer */
footer {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

footer h4 {
  margin-bottom: 1rem;
}

footer a {
  color: black;
  font-size: 2rem;
}
